<DOCTYPE! html>
<head>
	<title>Posts</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
<h1><a href="/posts">The GradLaw Forum</a></h1>

<nav>
	<ul>
		<li><a href="/posts">Posts</a></li>
		<li><a href="/categories">Topics</a></li>
		<li><a href="/archive">Archived Posts</a></li>
	</ul>
</nav>

<h3>Welcome to the St. Joe's Graduate and Law Students' forum.</h3>
<p>No more sorting through hundreds of Facebook messages to figure out what the plan is.<br>
Now you can <span>post</span> bar suggestions in our <a href="/categories/happy_hour/posts">Happy Hour</a> topic, <span>vote</span> to express your excitement over proposed outings in the <a href="/categories/day_trips">Day Trips</a> thread, and sign up in <span>comments</span> to craft a delicious Sunday dinner in the <a href="/categories/cooks/posts">Cooks</a> category.<br>
Or create your own topic for discussion on the <a href="/categories">Topics</a> page.  
</p>
</body>
